@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ISE 413 | Web Application Development with .NET</h1>
    <h2>Phase-1 stage of the MVC project named HaldorGamesApp</h2>
    <br><br>
    <p>Doruk Demirbilek - 20244710016 - <a href="demirbilek.doruk@student.atilim.edu.tr">Send E-mail</a></p>
    <p>Halil İbrahim Güç - 20244710016 - <a href="demirbilek.doruk@student.atilim.edu.tr">Send E-mail</a></p>
    
</div>
